 ul {
     list-style-type: none;
 }

 button {
     background-color: transparent;
     border: 0;
     border-radius: 0;
 }

 .logo-search{
    width: 100%;
    display: flex;
 }

.search-container {
    margin-left: 45vh;
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    /*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   text-shadow:  0px 0px 6px rgba(255,255,255,.3),
              -4px -4px 6px rgba(116, 125, 136, .2);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);*/
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover>.search-input {
    width: 400px;
}

.search-container .search-input {
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}

.search-container .search-btn .fas {
    color: #5cbdbb;
}

/* @keyframes hoverShake {
    0% {
        transform: skew(0deg, 0deg);
    }

    25% {
        transform: skew(5deg, 5deg);
    }

    75% {
        transform: skew(-5deg, -5deg);
    }

    100% {
        transform: skew(0deg, 0deg);
    }
}

.search-container:hover {
    animation: hoverShake 0.15s linear 3;
} */

 .header {
     padding-block: 1rem;
     box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
     background-color: #ececec;
 }

 .nav {
     display: flex;
     flex-direction: column;
     gap: 1rem;
     align-items: flex-start;
     padding-inline: 1rem;
 }

 .nav-list {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     gap: .5rem;
 }

 .logo {
     width: 257px;
     height: 103px;
 }

 .btn-header {
     background-color: var(--clr-gray);
     padding: .5rem;
     border-radius: 100vmax;
     cursor: pointer;
     text-transform: uppercase;
     font-weight: 600;
     box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
     transition: .2s;
 }

 .btn-header:hover {
     transform: scale(1.1);
     box-shadow: 0 0 2rem rgba(0, 0, 0, .25)
 }

 main {
     padding: 2rem;
 }

 #normal {
     background-color: var(--type-normal);
     color: var(--clr-black);
 }

 #fuego {
     background-color: var(--type-fire);
     color: var(--clr-black);
 }

 #agua {
     background-color: var(--type-water);
     color: var(--clr-white);
 }

 #hierva {
     background-color: var(--type-grass);
     color: var(--clr-black);
 }

 #electrico {
     background-color: var(--type-electric);
     color: var(--clr-black);
 }

 #hielo {
     background-color: var(--type-ice);
     color: var(--clr-black);
 }

 #pelea {
     background-color: var(--type-fighting);
     color: var(--clr-white);
 }

 #veneno {
     background-color: var(--type-poison);
     color: var(--clr-white);
 }

 #tierra {
     background-color: var(--type-ground);
     color: var(--clr-black);
 }

 #volador {
     background-color: var(--type-flying);
     color: var(--clr-black);
 }

 #psiquico {
     background-color: var(--type-psychic);
     color: var(--clr-black);
 }

 #insecto {
     background-color: var(--type-bug);
     color: var(--clr-black);
 }

 #roca {
     background-color: var(--type-rock);
     color: var(--clr-black);
 }

 #fantasma {
     background-color: var(--type-ghost);
     color: var(--clr-white);
 }

 #oscuro {
     background-color: var(--type-dark);
     color: var(--clr-white);
 }

 #dragon {
     background-color: var(--type-dragon);
     color: var(--clr-white);
 }

 #metal {
     background-color: var(--type-steel);
     color: var(--clr-black);
 }

 #hada {
     background-color: var(--type-fairy);
     color: var(--clr-black);
 }